arrow
bcrypt
colander
cryptography
deform
dogpile.cache==0.9.2
# CRATE is on 4.2
Django>=4.2,<5.0
libChEBIpy
pdfkit
pyramid==1.10.8
pytest
# sphinx==4.2.0
sphinx==7.1.2
# sphinxcontrib-applehelp==1.0.4
# sphinxcontrib-devhelp==1.0.2
# sphinxcontrib-htmlhelp==2.0.1
# sphinxcontrib-serializinghtml==1.1.5
# sphinxcontrib-qthelp==1.0.3
sphinx-paramlinks==0.6.0
sphinx_rtd_theme==2.0.0
weasyprint
xlrd
